.CodeMirror {
}

.CodeMirror-scroll {
    min-height: 20em;
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
    border-right: 1px solid black;
    /*width: 100%;*/
}

#editor {
    border: 1px solid black;
}

.sync_visual {
    background-image: url('/css/ok.png');
    padding-left: 40px;
    background-repeat: repeat-y;
}

.sync_visual.wait {
    background-image: url('/css/wait.gif');
}

.users_list {
    float: right;
    width: 20ex;
    font-family: Arial;
    font-size: 12px;
}

.users_list ul {
    padding: 0;
    margin: 2px;
}
.users_list li {
    padding: 0;
    list-style: none;
    margin: 0px;
    text-align: right;
}

.users_list li.you {
    font-weight: bold;
}

.clear { clear: both; }
